.profile-container {
    margin-top: 0;
    background: url("https://th.bing.com/th/id/R.0170b343c978105f4cbdd101e3a33003?rik=Gk35AAp6dswcOA&riu=http%3a%2f%2fwww.macleans.ca%2fwp-content%2fuploads%2f2015%2f07%2fchildren-playing.jpg&ehk=poAqB%2fH4r6sSILJJVRy9v0LB21uMJKaXAorHOIZEwd0%3d&risl=&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%
}

.fields {
    margin: 150px auto;
    padding-top: 150px;
    max-width: 400px;
    /* background-color: darkgrey; */
}

.fields input {
    background-color: darkgrey
}