.navbar {
  width: 100%;
  padding: 10px 0;
  box-sizing: border-box;
  margin-top: 0px;
  
    height: 70px;
    width: 100%;
    background: rgb(0, 128, 182);
    background: linear-gradient(
      0deg,
      rgb(228, 232, 234) 0%,
      rgb(228, 231, 233) 35%,
      rgb(231, 237, 238) 100%
    );
    position: fixed;
    left: 0;
    top: 0;
}
  

.navbar ul {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
}
.navbar .logo {
  font-weight: bold;
  color: var(--heading-color);
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navbar .logo img {
  margin-right: 10px;
  filter: invert(25%);
  width: 26px;
  margin-top: -8px;
}
.navbar a {
  color: #333;
  text-decoration: none;
  margin-right: 20px;
}